// -------------------------------------------
	// Fonts
// -------------------------------------------
$helvetica: Helvetica, Arial, sans-serif;


// -------------------------------------------
    // Font sizes
// -------------------------------------------
$regularSize: 14;

// -------------------------------------------
	// Colors
// -------------------------------------------

// Reds
$errorRed: #da4c45;

// Greys
$grey: #696969;
$darkGrey: #333333;